@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

/* Sección Platos*/
.section2 {
  padding: 7vh 2vw 2vh 2vw;
  // background-image: url("/images/assets/bg-platos.jpg");
  background-size: cover;
  // color: white;
  overflow-x: hidden;

  h2 {
    margin: 3rem 0 3rem 0;
    font-family: 'Ephesis', sans-serif;
    font-size: 3rem;
    font-weight: bold;
  }

  img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 100%;
  }

  .boton {
    width: 250px;
    margin: 0 0 0.5rem 0;
  }

  .cuadro1 {
    width: 305px;
  }

  

  a {
    background-color: rgba(246, 235, 236, 0.6);
    color: #3F1F1D;
    border-color:  #3F1F1D;
    font-weight: bold;
  }

  .dish {
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
    background-color: #3F1F1D;
    color: white;
  }

  .dish:hover{
    outline: 0.05rem solid #70C6B0;
    transform: scale(1.05);
  }

  .bajo-imagen {
    padding: 1vw;
  }
}

a {
  text-decoration: none;
    button {
    background-color: rgba(246, 235, 236, 0.6);
    color: #3F1F1D;
    border-color:  #3F1F1D;
    font-weight: bold;
    }
}

@media (width <= 768px) {
  .section2 {
    h2 {
      margin: 6rem 0 3rem 0;
    }
  }
}

@media (width <= 380px) {
  .section2 {
    h2 {
      margin: 10rem 0 3rem 0;
    }
  }
}