
header {
  position: fixed;
  z-index: 100;
  top: 0%;
  width: 100%;
  nav {
    background-color: rgb(173, 153, 154, 0.6);

    .nav-link {
      color: white !important;
      font-size: 1.3rem;
    }

    .nav-link:hover {
      color: blue !important;
    }

  }
}
